.main {
  position: relative;
  height: 100%;
  width: 100%;
  color: black;
  background-color: #ffffff;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.main-list {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 20px;
  padding: 0;
}

.main-content {
  display: flex;
  height: 90vh;
  padding: 0 10px 10px 10px;
  flex-direction: column;
  margin: 10px;
  width: 100%;
  max-width: 2400px;
  align-items: center;
  justify-content: flex-start;
}

.filter-container {
  /* margin-bottom: 20px; */
}

.filter {
  height: 30px;
  display: flex;
  padding: 20px;
  cursor: pointer;
  align-items: center;
  background-color: #ffffff;
  border-radius: 5px;
  justify-content: space-between;
  /* border: 1px solid #000000; */
  transition: background var(--speed);
}

.search-bar {
  display: flex;
  margin-top: 20px;
  background-color: #eb4d68;
  border-radius: 5px;
  flex-direction: row;
  align-items: center;
}

.placeholder-icon {
  display: flex;
  height: 24px;
  margin-right: -27px;
  margin-left: 1px;
  border-radius: 3px;
  outline: none;
  background-color: #f8ebed;
  color:#eb4d68;
  border: 0;
  padding-left: 5px;
  cursor: text;
  font-size: 13px;
  background-size: 200% 200%;
  transition: 0.3s;
  align-items: center;
  z-index: 999;
}

.search-input {
  display: flex;
  width: 100%;
  height: 22px;
  margin: 1px;
  border-radius: 3px;
  outline: none;
  background-color: #f8ebed;
  color: #eb4d68;
  border: 0;
  padding-left: 30px;
  cursor: text;
  font-size: 13px;
  background-size: 200% 200%;
  transition: 0.3s;
  align-items: baseline;
}

.order {
  display: flex;
  font-size: 11px;
  color: #494949;
  align-items: flex-start;
}

.staking-page {
  display: flex;
  color: #eb4d68;
  font-size: 25px;
  font-weight: 700;
}

.opportunities {
  display: flex;
}

.pools {
  width: 100%;
  padding: 0;
}

.pool-item {
  height: 30px;
  display: flex;
  margin: 5px 0;
  padding: 20px;
  cursor: pointer;
  align-items: center;
  background-color: #ffffff;
  border-radius: 5px;
  transition: background var(--speed);
}

.pool-item:hover {
  background-color: #f7f7f7;
}

.pool-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
}

.pool-overview {
  height: 30px;
  width: 100%;
  /* margin-left: 10px; */
  /* padding-bottom: 20px; */
  display: flex;
  cursor: pointer;
  align-items: center;
  border-radius: 5px;
  justify-content: space-between;
}

.pool-dropdown {
  height: 180px;
  margin: 5px 0;
  padding: 20px;
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
  border-radius: 5px;
  justify-content: space-between;
  flex-direction: column;
}

.token-types {
  position: relative;
  display: flex;
  margin-left: -14px;
}

.deposit {
  height: 30px;
  display: flex;
  border: 1px solid #eb4d6770;
  margin-left: 8px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color:#eb4d68;
  font-weight: 400;
  background: #f8ebed;
  background-size: 200% 200%;
  transition: 0.3s;
  width: 100px;
  align-items: center;
  justify-content: center;
}

.deposit-input {
  display: flex;
  width: 220px;
  height: 32px;
  border-radius: 5px;
  outline: none;
  background-color: #f8ebed;
  color: #eb4d68;
  border: 0;
  padding-left: 20px;
  cursor: text;
  font-size: 13px;
  background-size: 200% 200%;
  transition: 0.3s;
  align-items: baseline;
}

.deposit-input::placeholder {
  color: #eb4d68;
}

.max-input {
  display: flex;
  position: relative;
  top: 15px;
  right: -200px;
  height: 5px;
}

.max-input:hover {
  color:#eb4d68;
}

.approve-withdraw {
  height: 32px;
  width: 240px;
  display: flex;
  border: 1px solid #eb4d6845;
  margin: 0 20px 30px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color:#eb4d68;
  font-weight: 400;
  background: #f8ebed;
  background-size: 200% 200%;
  transition: 0.3s;
  align-items: center;
  justify-content: center;
}

.dropdown-middle {
  width: 100%;
  margin-top: 20px;
  padding: 35px 0 10px 0;
  border-top: 1px solid #8686862f;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.pool-balance {
  display: flex;
  font-size: 11px;
  margin: 3px 20px;
  color: #494949;
  flex-direction: column;
  align-items: flex-start;
}

.dropdown-bottom {
  height: 30px;
  width: 100%;
  display: flex;
  cursor: pointer;
  align-items: flex-start;
  border-radius: 5px;
  justify-content: center;
}

.name {
  width: 50px;
}